<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog: {{ post.title }}</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/editor.css">
    <link rel="stylesheet" href="../static/styles/blog.css">
</head>

<body>
    <div class="logo">
        <nav>
            <a href="/"><img src="../static/images/—Pngtree—letter b logo_6059128.png" alt="logo" width="60px"></a>
            <ul>
                <li><a href="/" class="home">Home</a></li>
                <li><a href="/post" class="about">Editor</a></li>
            </ul>
        </nav>
    </div>
    <div class="banner">
    </div>
    <div>
        <h1 class="title">{{ post.title }}</h1>
        <p class="published"><span>published at - {{ post.created_at }}</span></p>
        <div class="article">
            <pre>{{ post.article }}</pre>
        </div>
    </div>
</body>

</html>