<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/editor.css">
</head>
<body>
    <div class="banner">
        <input type="file" accept="image/*" id="banner-upload" hidden>
        <label for="banner-upload" class="banner-upload-btn"><img src="../images/upload banner.png" alt="upload banner" width="20px"></label>
    </div>
    <div class="blog">
        <textarea type="text" class="title" placeholder="Blog Title ..."></textarea>
        <textarea type="text" class="article" placeholder="Start Writing ..."></textarea>
    </div>
    <div class="options">
        <button class="publish-btn">Publish</button>
        <input type="file" accept="image/*" id="image-upload" hidden>
        <label for="image-upload" class="upload-btn"><p>Upload Image</p></label>
    </div>
</body>
</html>