<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
<title>Document</title>
</head>

<body>
    <header>
        <div id="header">
            <div class="logo">
                <nav>
                    <a href="."><img src="/images/—Pngtree—letter b logo_6059128.png" alt="logo" width="100px"></a>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#" class="start">Get Started</a></li>
                    </ul>
                </nav>
            </div>
            <hr class="hr1">
            <h2 class="title">Embrace the art of curiosity.</h2>
            <h3 class="intro">Dive into a world of endless stories,diverse thinking.<br>Here, curiosity is not just encouraged, it's celebrated.<br>Join us on a journey of discovery across a myriad of topics,<br>where every article is an invitation to expand your mind and ignite your imagination.</h3>
            <p class="p1">Start Reading</p>
            <hr class="hr2">
        </div>
    </header>
</body>

</html>