.article {
    height: auto;
}

.published {
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.published span {
    font-weight: 700;
}

.logo {
    background-color: rgb(247, 241, 233);
}

.comments .comment-body {
    border: solid;
    width: 70%;
    height: 40px;
    background-color: transparent;
    border-style: double;
    padding: 10px;
    margin-left: 170px;
}

.comments .comment-btn {
    height: 38px;
    width: 80px;
    border-radius: 20px;
    margin-left: 8px;
    cursor: pointer;
}

.Comments-container {
    height: auto;
    border: solid 1px;
    width: 90%;
    margin-left: 70px;
    max-height: 400px;
    overflow-y: auto;
}

.Comments-container div {
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
    white-space: pre-line;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Comments-container div.Author,
.Comments-container div.cmnt {
    padding-right: 10px;
}

.Comments-container::-webkit-scrollbar {
    width: 10px;
}

.Comments-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.Comments-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.Comments-container::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

/* for phone */
@media (max-width: 480px) {
    .title,
    .article,
    .published {
        text-align: center;
    }

    .title {
        font-size: 30px;
        margin-bottom: -70px;
    }

    .published {
        font-size: 10px;
        margin-bottom: -1px;
    }

    .article {
        font-size: 20px;
    }
}

/* for tablette */
@media (min-width: 481px) and (max-width: 1024px) {
    .published {
        text-align: center;
    }

    .title {
        font-size: 40px;
        margin-bottom: -50px;
    }

    .published {
        font-size: 15px;
        margin-bottom: -1px;
    }

    .article {
        font-size: 25px;
    }
    
}

/* for desktop */
@media (min-width: 1025px) {}